<div class="col-md-3 filter-by-block md-margin-bottom-60">
  <h1>Filtrer par</h1>
  <div class="panel-group" id="accordion">
      <div class="panel panel-default">
          <div class="panel-heading">
              <h2 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
Marque<i class="fa fa-angle-down"></i></a></h2>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                  <ul class="list-unstyled checkbox-list">
                    {% for brand,count in brands.items %}
                      <li>
                          <label class="checkbox">
                              <input type="checkbox" name="checkbox" checked />
                              <i></i>
                              {{brand}}
                              <small><a href="#">({{count}})</a></small>
                          </label>
                      </li>
                      {% endfor %}
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <!--/end panel group-->
  <button type="button" class="btn-u btn-brd btn-brd-hover btn-u-lg btn-u-sea-shop btn-block">réinitialiser</button>
</div>

