{% extends "base.html" %}
{% load static %}

{% block css_custom %}
<link rel="stylesheet" href="{% static 'rammotors/css/custom.css' %}">
{% endblock %}

{% block js_custom %}
<script src="{% static 'assets/js/custom.js' %}"></script>
{% endblock %}

<!-- context = {'vehicles': vehicles, 'images_uri': images_uri}

        self.brand_id = None
        self.price = None
        self.currency = 'EUR'
        self.uri_image_feature = None

-->
{% block content %}
  <!--=== Content Part ===-->
  <div class="jumbotron" style="background-image:url(/static/rammotors/img/banner_car_1.jpg);">
</div>
  <div class="content container">
      <div class="row">
        {% include "inventory/filter.html" %}
          <div class="col-md-9">
            {% include "inventory/show.html" %}

              <div class="filter-results">
                <!-- Start product -->
                {% for vehicle in vehicles %}
                  {% if not forloop.last %}
                  <div class="list-product-description product-description-brd margin-bottom-30">
                  {% else %}
                  <div class="list-product-description product-description-brd">
                    {% endif %}
                      <div class="row">
                          <div class="col-sm-4">
                              <a href="shop-ui-inner.html">
                                <img class="img-responsive sm-margin-bottom-20" src='{{images_uri}}{{vehicle.uri_image_feature}}' alt="">
                              </a>
                          </div>
                          <div class="col-sm-8 product-description">
                              <div class="overflow-h margin-bottom-5">
                                  <ul class="list-inline overflow-h">
                                      <li>
                                      <h4 class="title-price"><a href="shop-ui-inner.html">{{vehicle.brand_id}}</a></h4>
                                      </li>
                                      <li class="pull-right">
                                          <ul class="list-inline product-ratings">
                                              <li>
                                                  <i class="rating-selected fa fa-star"></i>
                                              </li>
                                              <li>
                                                  <i class="rating-selected fa fa-star"></i>
                                              </li>
                                              <li>
                                                  <i class="rating-selected fa fa-star"></i>
                                              </li>
                                              <li>
                                                  <i class="rating fa fa-star"></i>
                                              </li>
                                              <li>
                                                  <i class="rating fa fa-star"></i>
                                              </li>
                                          </ul>
                                      </li>
                                  </ul>
                                  <div class="margin-bottom-10">
                                    <span class="title-price margin-right-10">{{vehicle.currency}} {{vehicle.price }},-</span>
                                      <span class="title-price line-through">EUR 3.800,-</span>
                                  </div>
                                  <p class="margin-bottom-20">
                                  
                                  {{vehicle.model_id}} -- {{vehicle.mileage}}
                                  </p>
                                  <ul class="list-inline add-to-wishlist margin-bottom-20"> </ul>
                                  <button type="button" class="btn-u btn-u-sea-shop">View</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- end product -->
                  {% endfor %}
              </div>

              <!--/end filter resilts-->
              <div class="text-center">
                  <ul class="pagination pagination-v2">
                      <li>
                          <a href="#"><i class="fa fa-angle-left"></i></a>
                      </li>
                      <li>
                          <a href="#">1</a>
                      </li>
                      <li class="active">
                          <a href="#">2</a>
                      </li>
                      <li>
                          <a href="#">3</a>
                      </li>
                      <li>
                          <a href="#"><i class="fa fa-angle-right"></i></a>
                      </li>
                  </ul>
              </div>
              <!--/end pagination-->
          </div>
      </div>
      <!--/end row-->
  </div>
{% endblock %}
