{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
  <!--<![endif]-->
  <head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-KQ2W8CV');</script>
  <!-- End Google Tag Manager -->

  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108093868-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

    gtag('config', 'UA-108093868-1');
  </script>

  <title>Ram's Motor</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'rammotors/img/favicon.ico' %}">
    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{% static 'unify-v1.9.6/E-Commerce/assets/plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'unify-v1.9.6/E-Commerce/assets/css/shop.style.css' %}">
    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="{% static 'unify-v1.9.6/E-Commerce/assets/css/headers/header-v5.css' %}">
    <link rel="stylesheet" href="{% static 'unify-v1.9.6/E-Commerce/assets/css/footers/footer-v4.css' %}">
    <!-- CSS Implementing plugin -->
    <link rel="stylesheet" href="{% static 'unify-v1.9.6/assets/plugins/hover-effects/css/custom-hover-effects.css' %}">
    <!-- CSS Theme -->
    <link rel="stylesheet" href="{% static 'rammotors/css/rammotors_colors.css' %}" id="style_color">
    <!-- CSS Customization -->
    {% block css_custom %}{% endblock %}
  </head>
  <body class="header-fixed">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KQ2W8CV"
          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

    <div class="wrapper">
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock %}
    </div>
    {% include 'footer.html' %}
    <!--/wrapper-->
    <!-- JS Global Compulsory -->
    <script src="{% static 'unify-v1.9.6/E-Commerce/assets/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'unify-v1.9.6/E-Commerce/assets/plugins/jquery/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'unify-v1.9.6/E-Commerce/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    {% block js_custom %}{% endblock %}
  </body>
</html>
