
  <!--=== Footer v4 ===-->
  <div class="footer-v4">
      <div class="footer">
          <div class="container">
              <div class="row">
                  <!-- About -->
                  <div class="col-md-4 md-margin-bottom-40">
                      <a href="/">
                        <img class="footer-logo" src="/static/rammotors/img/RAM_LogoWB_transparent.png" alt="">
                      </a>
                      <p> </p>
                      <br>
                      <ul class="list-unstyled address-list margin-bottom-20">
                          <li>
                              <i class="fa fa-angle-right"></i>Noduwez
                          </li>
                          <li>
                              <i class="fa fa-angle-right"></i>Phone: +32 (0) 476 / 823 793
                          </li>
                          <li>
                              <i class="fa fa-angle-right"></i>Email: ram@rammotors.be
                          </li>
                      </ul>
                      <ul class="list-inline shop-social">
                          <li>
                              <a href="whatsapp://send?text=Hello%2C%20World">
                                <i class="fb rounded-md fa fa-whatsapp"></i></a>
                          </li>
                      </ul>
                  </div>
                  <!-- End About -->
              </div>
              <!--/end row-->
          </div>
          <!--/end continer-->
      </div>
      <!--/footer-->
      <div class="copyright">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <p>
2017 &copy; Ram's motors. ALL Rights Reserved</p>
                  </div>
              </div>
          </div>
      </div>
      <!--/copyright-->
  </div>
  <!--=== End Footer v4 ===-->
</div>
