  <!--=== Header v5 ===-->
  <div class="header-v5 header-static">
      <!-- Topbar v3 -->
      <div class="topbar-v3">
          <div class="container">
              <div class="row">
                  <div class="col-sm-6">
                      <!-- Topbar Navigation -->
                      <ul class="left-topbar">
                          <li>
                              <a>Français (FR)</a>
                              <ul class="language">
                                  <li class="active">
                                      <a href="#">Français (FR)<i class="fa fa-check"></i></a>
                                  </li>
                                  <li>
                                      <a href="#">Nederland (NL)</a>
                                  </li>
                              </ul>
                          </li>
                      </ul>
                      <!--/end left-topbar-->
                  </div>
                  <div class="col-sm-6">
                      <ul class="list-inline right-topbar pull-right">
                          <li>
                              <a href="registration/login.html">Login</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <!--/container-->
      </div>
      <!-- End Topbar v3 -->
      <!-- Navbar -->
      <div class="navbar navbar-default mega-menu" role="navigation">
          <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">
                    <img id="logo-header" src="/static/rammotors/img/RAM_LogoColor.png" alt="Logo">
                  </a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse navbar-responsive-collapse">
                  <!-- Nav Menu -->
                  <ul class="nav navbar-nav">
                      <li>
                          <a href="/">Occasions</a>
                      </li>
                      <li>
                          <a href="/reprises">Reprises</a>
                      </li>
                      <li>
                          <a href="/inspection">Inspection</a>
                      </li>
                      <li>
                          <a href="/contact">Contact</a>
                      </li>
                      <li>
                          <a href="/horaire">Horaires/Accès</a>
                      </li>
                  </ul>
                  <!-- End Nav Menu -->
              </div>
          </div>
      </div>
      <!-- End Navbar -->
    </div>
